# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\90505\Desktop\Medipol_OOP_2020-master\Medipol_OOP_2020-master\6- Exceptions and File IO\OgrenciBilgiSistemi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
